<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Animal of the Week</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>

        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">Animal of the Week</a>
              <div class="nav-collapse collapse">
                <form class="navbar-form pull-right">
                  <input class="span2" type="text" placeholder="Login">
                  <input class="span2" type="password" placeholder="Password">
                  <button type="submit" class="btn">Sign in</button>
                </form>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>