{% extends "base.html" %}

{% block content %}
    <div class='row-fluid'>
        <div class='span9'>The past:</div>
    </div>

    {% for old in previous %}
        {# <div class="distance-{{ 4-loop.index|abs }}"> #}
            <div class='row-fluid'>
                <div class='span9'>
                    {{ old.animal }} <i>{{ old.who }}</i>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class='row-fluid'>
        <div class='span9'>The Future:</div>
    </div>

    {% for record in next %}
        {# <div class="distance-{{ loop.index }}"> #}
        <div class='row-fluid'>
            <div class='span9'>
                <i>{{ record.name }}</i>
            </div>
        </div>
    {% endfor %}
{% endblock %}